/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/cache
.env.testing
sonar-project.properties
/tests/_output
.phpunit.result.cache
.phpunit.cache
.cache
.scannerwork
.deptrac.cache
myreport
